body,html,.row-offcanvas {
              height:100%;
            }

#sidebar {
  width: inherit;
  min-width: 200px;
  max-width: 200px;

  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#main {
  height:100%;
  overflow:auto;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 200px);
  }
    
  .row-offcanvas-left
  {
    left: -200px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}
body {
  	padding-top:50px;
  }

  #masthead,.breadcrumb {
  	background-color:#000044;
    color:#aaaacc;
  }

  #masthead h1 {
  	font-size: 55px;
  	line-height: 1;
  }

  #masthead .well {
  	margin-top:13%;
  	background-color:#111155;
    	border-color:#000033;
  }

  .icon-bar {
  	background-color:#fff;
  }

  @media screen and (min-width: 768px) {
  	#masthead h1 {
  		font-size: 100px;
  	}
  }

  .navbar-bright {
  	background-color:#111155;
      color:#fff;
  }
    
  .navbar-bright a, #masthead a, #masthead .lead {
    	color:#aaaacc;
  }

  .navbar-bright li > a:hover {
      background-color:#000033;
  }

  
  .nopadding {
     padding: 10px !important;
     margin: 0 !important;
  }
  * {
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
  }
  .image-allign-center {
    margin: 0 auto;
  }